@light: #FCFAF8;
@orange: #FEAC5D;
@black: #111111;
@beige: #9A8174;
@bg: #140F1F;
@header: rgba(246, 246, 246, 0.08);
@white-bg: rgba(246, 246, 246, 0.2);
@gray: rgba(17, 17, 17, 0.3);


@font-accent: 'Playfair Display SC', serif;
@font: 'Alice', serif;